@font-face {
    font-family: "Fira Sans";
    src: url('/fonts/fira/eot/FiraSans-Regular.eot');
    src: url('/fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('/fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
         url('/fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
         url('/fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
  }

.header {
    color: forestgreen;
    background-color: rgba(235, 240, 176, 0.5);
    font-family: 'Fira Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: center;
}

.subHeader {
    font-family: 'Times New Roman', Times, serif;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 10%;
}

.listBody {
    display: block;
    background-color: rgb(228, 228, 215,0.5);
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
    
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: rgb(255, 5, 5);
}

body {
    background-image: url('../images/mainbg.jpeg')
}
